.card {
  height: 400px;
  margin: 15px;
  background-color: rgb(241, 234, 234);
  border: 5px ridge rgb(228, 225, 225);
  padding: 20px;
  display: grid;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
